# 11_KNN/SVM_분류분석실습

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

df = sns.load_dataset('titanic')
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB
None
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [2]:
#NaN 값이 많은 deck열(변수) 삭제
#embarked와 embark_town 열(변수)는 의미가 동일하므로 embark_town 열 삭제
ndf = df.drop (['deck', 'embark_town'], axis=1)
#print(len(ndf))    
print(ndf.shape)
print(df.shape)
#age변수의 값이 NaN인 행을 삭제

(891, 13)
(891, 15)

In [3]:
#age변수의 값이 NaN인 행을 삭제
ndf = ndf.dropna(subset=['age'], how='any', axis=0)
print(len(ndf))

714

In [4]:
#embared 열의 NaN값을 승선도시 중에서 가장 많이 출연한 데이터 값으로 치환하기
#ndf["embarked"].value_counts()
#ndf.replace(np.nan, 'S', inplace= True)
#ndf['embarked'].value_counts(dropna=True).idxmax()
most_freq = ndf['embarked'].value_counts(dropna=True).idxmax()
print(most_freq)

S

In [5]:
ndf['embarked'].fillna(most_freq, inplace=True)
print(ndf.describe(include='all'))

          survived      pclass   sex         age       sibsp       parch  \
count   714.000000  714.000000   714  714.000000  714.000000  714.000000
unique         NaN         NaN     2         NaN         NaN         NaN
top            NaN         NaN  male         NaN         NaN         NaN
freq           NaN         NaN   453         NaN         NaN         NaN
mean      0.406162    2.236695   NaN   29.699118    0.512605    0.431373
std       0.491460    0.838250   NaN   14.526497    0.929783    0.853289
min       0.000000    1.000000   NaN    0.420000    0.000000    0.000000
25%       0.000000    1.000000   NaN   20.125000    0.000000    0.000000
50%       0.000000    2.000000   NaN   28.000000    0.000000    0.000000
75%       1.000000    3.000000   NaN   38.000000    1.000000    1.000000
max       1.000000    3.000000   NaN   80.000000    5.000000    6.000000

              fare embarked  class  who adult_male alive alone
count   714.000000      714    714  714        714   714   714
unique         NaN        3      3    3          2     2     2
top            NaN        S  Third  man       True    no  True
freq           NaN      556    355  413        413   424   404
mean     34.694514      NaN    NaN  NaN        NaN   NaN   NaN
std      52.918930      NaN    NaN  NaN        NaN   NaN   NaN
min       0.000000      NaN    NaN  NaN        NaN   NaN   NaN
25%       8.050000      NaN    NaN  NaN        NaN   NaN   NaN
50%      15.741700      NaN    NaN  NaN        NaN   NaN   NaN
75%      33.375000      NaN    NaN  NaN        NaN   NaN   NaN
max     512.329200      NaN    NaN  NaN        NaN   NaN   NaN

In [6]:
# 분류 분석에 사용할 변수 선택
# survived, pclass, sex, age, sibsp, parch, embarked 
X = ndf[ ['pclass', 'sex', 'age', 'sibsp', 'parch', 'embarked']]
Y = ndf['survived']

In [7]:
#범주형 데이터를 모델이 인식할 수 있는 숫자형 데이터로 변환  : one-hot encoding
onehot_sex = pd.get_dummies(ndf['sex'])
ndf = pd.concat([ndf, onehot_sex], axis= 1)

onehot_embarked = pd.get_dummies(ndf['embarked'], prefix='town')
ndf = pd.concat([ndf, onehot_embarked], axis= 1)

X = ndf[ ['pclass', 'female', 'male', 'age', 'sibsp', 'parch', 'town_C','town_Q','town_S']]
Y = ndf['survived']
X

     pclass  female  male   age  sibsp  parch  town_C  town_Q  town_S
0         3       0     1  22.0      1      0       0       0       1
1         1       1     0  38.0      1      0       1       0       0
2         3       1     0  26.0      0      0       0       0       1
3         1       1     0  35.0      1      0       0       0       1
4         3       0     1  35.0      0      0       0       0       1
..      ...     ...   ...   ...    ...    ...     ...     ...     ...
885       3       1     0  39.0      0      5       0       1       0
886       2       0     1  27.0      0      0       0       0       1
887       1       1     0  19.0      0      0       0       0       1
889       1       0     1  26.0      0      0       1       0       0
890       3       0     1  32.0      0      0       0       1       0

[714 rows x 9 columns]

In [8]:
#KNN 분류 분석을 수행하려면 설명변수를 정규화 (평균 0, 표준편차1)
from sklearn import preprocessing
print(X)
X = preprocessing.StandardScaler().fit(X).transform(X)
print(X)

     pclass  female  male   age  sibsp  parch  town_C  town_Q  town_S
0         3       0     1  22.0      1      0       0       0       1
1         1       1     0  38.0      1      0       1       0       0
2         3       1     0  26.0      0      0       0       0       1
3         1       1     0  35.0      1      0       0       0       1
4         3       0     1  35.0      0      0       0       0       1
..      ...     ...   ...   ...    ...    ...     ...     ...     ...
885       3       1     0  39.0      0      5       0       1       0
886       2       0     1  27.0      0      0       0       0       1
887       1       1     0  19.0      0      0       0       0       1
889       1       0     1  26.0      0      0       1       0       0
890       3       0     1  32.0      0      0       0       1       0

[714 rows x 9 columns]
[[ 0.91123237 -0.75905134  0.75905134 ... -0.47180795 -0.20203051
   0.53307848]
 [-1.47636364  1.31743394 -1.31743394 ...  2.11950647 -0.20203051
  -1.87589641]
 [ 0.91123237  1.31743394 -1.31743394 ... -0.47180795 -0.20203051
   0.53307848]
 ...
 [-1.47636364  1.31743394 -1.31743394 ... -0.47180795 -0.20203051
   0.53307848]
 [-1.47636364 -0.75905134  0.75905134 ...  2.11950647 -0.20203051
  -1.87589641]
 [ 0.91123237 -0.75905134  0.75905134 ... -0.47180795  4.94974747
  -1.87589641]]

In [9]:
# train data: test data 을  7:3으로 데이터 분리
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=10)
print(X_train.shape)
print(X_test.shape)

(499, 9)
(215, 9)

In [10]:
#KNN 분류 분석으로  모델 생성
from sklearn.neighbors import KNeighborsClassifier

In [11]:
knn = KNeighborsClassifier(n_neighbors=5)  
knn.fit(X_train, Y_train)

#학습 데이터로부터 생성된 모델로부터 예측값 생성
y_predict = knn.predict(X_test)

print(y_predict[0:10])
print(Y_test.values[0:10])

[0 0 1 0 0 1 1 1 0 0]
[0 0 1 0 0 1 1 1 0 0]

In [12]:
from sklearn import metrics
knn_matrix = metrics.confusion_matrix(Y_test, y_predict)
print(knn_matrix)

knn_report = metrics.classification_report(Y_test, y_predict)
print(knn_report)

[[109  16]
 [ 25  65]]
              precision    recall  f1-score   support

           0       0.81      0.87      0.84       125
           1       0.80      0.72      0.76        90

    accuracy                           0.81       215
   macro avg       0.81      0.80      0.80       215
weighted avg       0.81      0.81      0.81       215

In [13]:

# 생존 여부를 분류할 때 영향을 주는 변수를 선택해서 
# k(최근접을 몇 개까지 볼 것인지 지정)는 되도록 작은 수를 설정하고 홀수로 설정해서 분류분석을 수행합니다.
# 데이터셋에서 생존자 클래스(생존자, 비생존자)의 데이터 수가  동일하다면 정확률로, 생존자 클래스의 데이터 수가 상이하다면 f1통계량으로 모델의 정확도를 판단한다.
# 통상적으로 k=1일때 overfitting 발생할 가능성이 높습니다

In [14]:
##########################SVM 분류 분석 실습 ####################
from sklearn import svm
svm_model = svm.SVC(kernel = 'rbf')
svm_model.fit(X_train, Y_train)  #학습, 모델 생성

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [15]:
y_predict = svm_model.predict(X_test)
print(y_predict[0:10])
print(Y_test.values[0:10])

svm_matrix = metrics.confusion_matrix(Y_test, y_predict)
print(svm_matrix)

[0 0 1 0 0 0 1 0 0 0]
[0 0 1 0 0 1 1 1 0 0]
[[120   5]
 [ 35  55]]

In [16]:
svm_report = metrics.classification_report(Y_test, y_predict)
print(svm_report)

              precision    recall  f1-score   support

           0       0.77      0.96      0.86       125
           1       0.92      0.61      0.73        90

    accuracy                           0.81       215
   macro avg       0.85      0.79      0.80       215
weighted avg       0.83      0.81      0.81       215