# 12.01_DBSCAN

In [3]:
##################밀도 기반 군집 분석 (DBSCAN) ################
#데이터가 모여 있는 밀도가 높은 공간(반경 r안에 샘플 개수 설정함)에 클러스터 레이블을 할당
import pandas as pd
import folium

file_path='./2016_middle_shcool_graduates_report.xlsx'
df =pd.read_excel(file_path, header=0)

df.head()

,Unnamed: 0,지역,학교명,코드,유형,주야,남학생수,여학생수,일반고,특성화고,...,외고_국제고,예고_체고,마이스터고,자사고,자공고,기타진학,취업,미상,위도,경도
0,0,성북구,서울대학교사범대학부설중학교,3,국립,주간,277,0,0.585,0.148,...,0.007,0.000,0.011,0.227,0.000,0.004,0,0.000,37.594942,127.038909
1,1,종로구,서울대학교사범대학부설여자중학교,3,국립,주간,0,256,0.680,0.199,...,0.035,0.008,0.000,0.043,0.004,0.031,0,0.000,37.577473,127.003857
2,2,강남구,개원중학교,3,공립,주간,170,152,0.817,0.047,...,0.012,0.003,0.006,0.090,0.003,0.009,0,0.003,37.491637,127.071744
3,3,강남구,개포중학교,3,공립,주간,83,72,0.755,0.097,...,0.013,0.019,0.019,0.065,0.000,0.019,0,0.000,37.480439,127.062201
4,4,서초구,경원중학교,3,공립,주간,199,212,0.669,0.017,...,0.010,0.005,0.000,0.282,0.000,0.010,0,0.000,37.510750,127.008900

In [4]:

print(df.info())
print(df.columns.values)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 415 entries, 0 to 414
Data columns (total 21 columns):
Unnamed: 0    415 non-null int64
지역            415 non-null object
학교명           415 non-null object
코드            415 non-null int64
유형            415 non-null object
주야            415 non-null object
남학생수          415 non-null int64
여학생수          415 non-null int64
일반고           415 non-null float64
특성화고          415 non-null float64
과학고           415 non-null float64
외고_국제고        415 non-null float64
예고_체고         415 non-null float64
마이스터고         415 non-null float64
자사고           415 non-null float64
자공고           415 non-null float64
기타진학          415 non-null float64
취업            415 non-null int64
미상            415 non-null float64
위도            415 non-null float64
경도            415 non-null float64
dtypes: float64(12), int64(5), object(4)
memory usage: 68.2+ KB
None
['Unnamed: 0' '지역' '학교명' '코드' '유형' '주야' '남학생수' '여학생수' '일반고' '특성화고' '과학고'
 '외고_국제고' '예고_체고' '마이스터고' '자사고' '자공고' '기타진학' '취업' '미상' '위도' '경도']

In [6]:

#참고 url : http://python-graph-gallery.com/288-map-background-with-folium
mschool_map = folium.Map(location=[37.55, 126.98],  tiles='Stamen Terrain', zoom_start=12)
for name, lat, lng in zip (df.학교명, df.위도, df. 경도) :
    folium.CircleMarker([lat, lng],
                              radius=5,
                              color='brown',
                              fill=True,
                              fill_color='yellow',
                              fill_opacity=0.5,
                              popup=name).add_to(mschool_map)

mschool_map.save('./seoul_mschool_location.html')

In [9]:
df.head(10)

,Unnamed: 0,지역,학교명,코드,유형,주야,남학생수,여학생수,일반고,특성화고,...,외고_국제고,예고_체고,마이스터고,자사고,자공고,기타진학,취업,미상,위도,경도
0,0,성북구,서울대학교사범대학부설중학교,3,국립,주간,277,0,0.585,0.148,...,0.007,0.000,0.011,0.227,0.000,0.004,0,0.000,37.594942,127.038909
1,1,종로구,서울대학교사범대학부설여자중학교,3,국립,주간,0,256,0.680,0.199,...,0.035,0.008,0.000,0.043,0.004,0.031,0,0.000,37.577473,127.003857
2,2,강남구,개원중학교,3,공립,주간,170,152,0.817,0.047,...,0.012,0.003,0.006,0.090,0.003,0.009,0,0.003,37.491637,127.071744
3,3,강남구,개포중학교,3,공립,주간,83,72,0.755,0.097,...,0.013,0.019,0.019,0.065,0.000,0.019,0,0.000,37.480439,127.062201
4,4,서초구,경원중학교,3,공립,주간,199,212,0.669,0.017,...,0.010,0.005,0.000,0.282,0.000,0.010,0,0.000,37.510750,127.008900
5,5,강남구,구룡중학교,3,공립,주간,153,133,0.787,0.066,...,0.007,0.007,0.000,0.108,0.000,0.017,0,0.000,37.485768,127.056436
6,6,강남구,압구정중학교,3,공립,주간,111,86,0.589,0.015,...,0.036,0.005,0.000,0.330,0.000,0.010,0,0.000,37.530211,127.032959
7,7,강남구,단국대학교사범대학부속중학교,3,사립,주간,218,0,0.752,0.000,...,0.005,0.000,0.000,0.206,0.000,0.005,0,0.000,37.495439,127.057149
8,8,강남구,대명중학교,3,공립,주간,250,206,0.757,0.018,...,0.029,0.009,0.000,0.167,0.000,0.009,0,0.000,37.506294,127.060824
9,9,강남구,대왕중학교,3,공립,주간,183,178,0.814,0.000,...,0.028,0.022,0.011,0.114,0.000,0.006,0,0.000,37.483030,127.087355

In [15]:
#지역, 코드, 유형, 주야 등 변수의 one-hot-encoding으로 dummy 변수 변환
from sklearn import preprocessing

label_encoder = preprocessing.LabelEncoder() 
onehot_encoder = preprocessing.OneHotEncoder()

onehot_location = label_encoder.fit_transform(df['지역'])
onehot_code = label_encoder.fit_transform(df['코드'])
onehot_type = label_encoder.fit_transform(df['유형'])
onehot_day= label_encoder.fit_transform(df['주야'])

#len(pd.unique(onehot_location))
#len(pd.unique(df['지역']))

25

In [17]:
df['location'] = onehot_location
df['code'] = onehot_code
df['type'] = onehot_type
df['day'] = onehot_day

df.head()
#print(df.info())

,Unnamed: 0,지역,학교명,코드,유형,주야,남학생수,여학생수,일반고,특성화고,...,자공고,기타진학,취업,미상,위도,경도,location,code,type,day
0,0,성북구,서울대학교사범대학부설중학교,3,국립,주간,277,0,0.585,0.148,...,0.000,0.004,0,0.000,37.594942,127.038909,16,0,1,0
1,1,종로구,서울대학교사범대학부설여자중학교,3,국립,주간,0,256,0.680,0.199,...,0.004,0.031,0,0.000,37.577473,127.003857,22,0,1,0
2,2,강남구,개원중학교,3,공립,주간,170,152,0.817,0.047,...,0.003,0.009,0,0.003,37.491637,127.071744,0,0,0,0
3,3,강남구,개포중학교,3,공립,주간,83,72,0.755,0.097,...,0.000,0.019,0,0.000,37.480439,127.062201,0,0,0,0
4,4,서초구,경원중학교,3,공립,주간,199,212,0.669,0.017,...,0.000,0.010,0,0.000,37.510750,127.008900,14,0,0,0

In [18]:
#DBSCAN 군집분석 수행
from sklearn import cluster
#분석에 사용할 속성 [과학고, 외고_국제고, 자사고, 진학률]
column_list = [9, 10, 13]
X = df.iloc[ : , column_list]
print(X[:5])

    특성화고    과학고  마이스터고
0  0.148  0.018  0.011
1  0.199  0.000  0.000
2  0.047  0.009  0.006
3  0.097  0.013  0.019
4  0.017  0.007  0.000

In [21]:
# 설명변수 정규화
X= preprocessing.StandardScaler().fit(X).transform(X)
dbscan_model = cluster.DBSCAN(eps=0.2, min_samples=5)
dbscan_model.fit(X)

DBSCAN(algorithm='auto', eps=0.2, leaf_size=30, metric='euclidean',
       metric_params=None, min_samples=5, n_jobs=None, p=None)

In [24]:
X.shape

(415, 3)

In [25]:
cluster_label = dbscan_model.labels_
print(cluster_label)
print(len(cluster_label)) #-1 은 노이즈

[-1  0 -1 -1  1  5 -1 -1  2 -1 -1 -1  2  0 -1 -1 -1 -1 -1  2 -1 -1 -1  0
  1  2 -1  1  0  0 -1 -1 -1 -1 -1  0 -1 -1 -1 -1 -1 -1 -1  0 -1 -1 -1  3
 -1 -1 -1  3 -1  1 -1 -1  4 -1 -1  4 -1 -1  4  0 -1  5  0  6  1 -1  0  1
 -1  0  8 -1 -1 -1  4 -1  3 -1 -1  3  4 -1 -1 -1  3 -1  0  2 -1  0 -1 -1
  5  0  0 -1 -1 -1 -1 -1 -1 -1 -1  0 -1 -1 -1 -1 -1 -1  1 -1 -1 -1  0 -1
 -1 -1  5  8  0 -1 -1 -1 -1 -1  7  3  0 -1  5  0  4 -1  5 -1 -1 -1 -1 -1
 -1  6 -1 -1 -1  8  4 -1 -1  6 -1 -1 -1 -1 -1  0  6 -1 -1 -1 -1 -1 -1  6
 -1 -1  7 -1 -1  6 -1  0  0 -1  3 -1  6  8 -1  6 -1 -1 -1 -1 -1 -1  5  0
  0 -1 -1 -1 -1  0  0 -1  0 -1 -1  6  0 -1 -1 -1 -1 -1  4 -1 -1  3 -1 -1
  0 -1 -1  9 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  0 -1 -1 -1  0 -1 -1 -1  9  0
  9 -1 -1 -1 -1  5  0 -1 -1 -1  0  0 -1  0 -1 -1 -1 -1 -1  0  4 -1 -1  0
 -1 -1  0  0 -1 -1  6  3 -1  6 -1 -1 -1  0 -1  0 10 -1  0  0  0 -1  0 -1
 -1 -1 -1  9 -1 -1 10  0 10  0  7  7  3  6 -1 -1 -1 -1  3  4 -1  0 -1  8
  4  8  6  0  7 -1 -1 -1 -1  0 -1 -1 -1 -1 -1  0 -1  0  0 -1  0  5  0  0
 -1 10  0  0  0  3  0 -1  0 10  2 -1  0 -1 -1  7 -1 -1 -1  0  0 -1 -1 -1
 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1 -1  9  0 -1 -1 -1  0  0 -1  7 -1 -1  0
 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11 11
 11 11 11 11 11 11 -1]
415

In [26]:
df['Cluster'] = cluster_label
print(df.head())

#클러스터값으로  그룹화하여 출력

   Unnamed: 0   지역               학교명  코드  유형  주야  남학생수  여학생수    일반고   특성화고  \
0           0  성북구    서울대학교사범대학부설중학교   3  국립  주간   277     0  0.585  0.148
1           1  종로구  서울대학교사범대학부설여자중학교   3  국립  주간     0   256  0.680  0.199
2           2  강남구             개원중학교   3  공립  주간   170   152  0.817  0.047
3           3  강남구             개포중학교   3  공립  주간    83    72  0.755  0.097
4           4  서초구             경원중학교   3  공립  주간   199   212  0.669  0.017

   ...   기타진학  취업     미상         위도          경도  location  code  type  day  \
0  ...  0.004   0  0.000  37.594942  127.038909        16     0     1    0
1  ...  0.031   0  0.000  37.577473  127.003857        22     0     1    0
2  ...  0.009   0  0.003  37.491637  127.071744         0     0     0    0
3  ...  0.019   0  0.000  37.480439  127.062201         0     0     0    0
4  ...  0.010   0  0.000  37.510750  127.008900        14     0     0    0

   Cluster
0       -1
1        0
2       -1
3       -1
4        1

[5 rows x 26 columns]

In [30]:
df['Cluster'] = cluster_label
print(df.head())
print('\n')
#클러스터값으로  그룹화하여 출력
grouped_cols =[0, 1, 3] +column_list
grouped = df.groupby('Cluster')
grouped
'''
for key, group in grouped:
    print('* key : ' , key)
    print('* number : ' , len(group))
    print(group.iloc[:, grouped_cols].head())
    print('\n')
'''

   Unnamed: 0   지역               학교명  코드  유형  주야  남학생수  여학생수    일반고   특성화고  \
0           0  성북구    서울대학교사범대학부설중학교   3  국립  주간   277     0  0.585  0.148
1           1  종로구  서울대학교사범대학부설여자중학교   3  국립  주간     0   256  0.680  0.199
2           2  강남구             개원중학교   3  공립  주간   170   152  0.817  0.047
3           3  강남구             개포중학교   3  공립  주간    83    72  0.755  0.097
4           4  서초구             경원중학교   3  공립  주간   199   212  0.669  0.017

   ...   기타진학  취업     미상         위도          경도  location  code  type  day  \
0  ...  0.004   0  0.000  37.594942  127.038909        16     0     1    0
1  ...  0.031   0  0.000  37.577473  127.003857        22     0     1    0
2  ...  0.009   0  0.003  37.491637  127.071744         0     0     0    0
3  ...  0.019   0  0.000  37.480439  127.062201         0     0     0    0
4  ...  0.010   0  0.000  37.510750  127.008900        14     0     0    0

   Cluster
0       -1
1        0
2       -1
3       -1
4        1

[5 rows x 26 columns]

"\nfor key, group in grouped:\n    print('* key : ' , key)\n    print('* number : ' , len(group))\n    print(group.iloc[:, grouped_cols].head())\n    print('\n')\n"

In [31]:

df['Cluster'] = cluster_label
print(df.head())
print('\n')
#클러스터값으로  그룹화하여 출력
grouped_cols =[0, 1, 3] +column_list
grouped = df.groupby('Cluster')
for key, group in grouped:
    print('* key : ' , key)
    print('* number : ' , len(group))
    print(group.iloc[:, grouped_cols].head())
    print('\n')

   Unnamed: 0   지역               학교명  코드  유형  주야  남학생수  여학생수    일반고   특성화고  \
0           0  성북구    서울대학교사범대학부설중학교   3  국립  주간   277     0  0.585  0.148
1           1  종로구  서울대학교사범대학부설여자중학교   3  국립  주간     0   256  0.680  0.199
2           2  강남구             개원중학교   3  공립  주간   170   152  0.817  0.047
3           3  강남구             개포중학교   3  공립  주간    83    72  0.755  0.097
4           4  서초구             경원중학교   3  공립  주간   199   212  0.669  0.017

   ...   기타진학  취업     미상         위도          경도  location  code  type  day  \
0  ...  0.004   0  0.000  37.594942  127.038909        16     0     1    0
1  ...  0.031   0  0.000  37.577473  127.003857        22     0     1    0
2  ...  0.009   0  0.003  37.491637  127.071744         0     0     0    0
3  ...  0.019   0  0.000  37.480439  127.062201         0     0     0    0
4  ...  0.010   0  0.000  37.510750  127.008900        14     0     0    0

   Cluster
0       -1
1        0
2       -1
3       -1
4        1

[5 rows x 26 columns]


* key :  -1
* number :  234
   Unnamed: 0   지역  코드   특성화고    과학고  마이스터고
0           0  성북구   3  0.148  0.018  0.011
2           2  강남구   3  0.047  0.009  0.006
3           3  강남구   3  0.097  0.013  0.019
6           6  강남구   3  0.015  0.015  0.000
7           7  강남구   3  0.000  0.032  0.000


* key :  0
* number :  70
    Unnamed: 0   지역  코드   특성화고  과학고  마이스터고
1            1  종로구   3  0.199  0.0    0.0
13          13  서초구   3  0.032  0.0    0.0
23          23  강남구   3  0.025  0.0    0.0
28          28  서초구   3  0.040  0.0    0.0
29          29  강남구   3  0.051  0.0    0.0


* key :  1
* number :  7
    Unnamed: 0   지역  코드   특성화고    과학고  마이스터고
4            4  서초구   3  0.017  0.007    0.0
24          24  강남구   3  0.026  0.007    0.0
27          27  강남구   3  0.006  0.006    0.0
53          53  강동구   3  0.020  0.007    0.0
68          68  송파구   3  0.011  0.007    0.0


* key :  2
* number :  6
    Unnamed: 0   지역  코드   특성화고    과학고  마이스터고
8            8  강남구   3  0.018  0.013    0.0
12          12  강남구   3  0.000  0.013    0.0
19          19  서초구   3  0.005  0.013    0.0
25          25  서초구   3  0.012  0.012    0.0
91          91  양천구   3  0.028  0.011    0.0


* key :  3
* number :  12
    Unnamed: 0   지역  코드   특성화고  과학고  마이스터고
47          47  강동구   3  0.171  0.0  0.005
51          51  송파구   3  0.153  0.0  0.004
80          80  양천구   3  0.189  0.0  0.003
83          83  강서구   3  0.194  0.0  0.004
88          88  강서구   3  0.198  0.0  0.006


* key :  4
* number :  11
    Unnamed: 0   지역  코드   특성화고  과학고  마이스터고
56          56  강동구   3  0.094  0.0  0.007
59          59  강동구   3  0.093  0.0  0.004
62          62  강동구   3  0.087  0.0  0.006
78          78  강동구   3  0.112  0.0  0.004
84          84  양천구   3  0.094  0.0  0.003


* key :  5
* number :  9
     Unnamed: 0   지역  코드   특성화고    과학고  마이스터고
5             5  강남구   3  0.066  0.007    0.0
65           65  송파구   3  0.081  0.006    0.0
96           96  양천구   3  0.083  0.006    0.0
122         122  구로구   3  0.079  0.004    0.0
134         134  구로구   3  0.063  0.005    0.0


* key :  6
* number :  13
     Unnamed: 0    지역  코드   특성화고  과학고  마이스터고
67           67   송파구   3  0.226  0.0  0.004
145         145   구로구   3  0.249  0.0  0.004
153         153  동대문구   3  0.222  0.0  0.004
160         160  동대문구   3  0.225  0.0  0.006
167         167  동대문구   3  0.224  0.0  0.004


* key :  7
* number :  7
     Unnamed: 0    지역  코드   특성화고  과학고  마이스터고
130         130   금천구   3  0.329  0.0    0.0
170         170  동대문구   3  0.327  0.0    0.0
298         298   성동구   3  0.323  0.0    0.0
299         299   광진구   3  0.309  0.0    0.0
316         316   강북구   3  0.305  0.0    0.0


* key :  8
* number :  6
     Unnamed: 0    지역  코드   특성화고  과학고  마이스터고
74           74   강동구   3  0.215  0.0  0.012
123         123   금천구   3  0.242  0.0  0.013
149         149  동대문구   3  0.213  0.0  0.013
181         181   관악구   3  0.222  0.0  0.013
311         311   성북구   3  0.222  0.0  0.014


* key :  9
* number :  5
     Unnamed: 0   지역  코드   특성화고    과학고  마이스터고
219         219  노원구   3  0.110  0.003  0.003
238         238  도봉구   3  0.115  0.003  0.003
240         240  도봉구   3  0.098  0.003  0.003
291         291  성동구   3  0.089  0.003  0.003
372         372  송파구   3  0.098  0.004  0.004


* key :  10
* number :  5
     Unnamed: 0   지역  코드   특성화고    과학고  마이스터고
280         280  은평구   3  0.185  0.005  0.005
294         294  성동구   3  0.179  0.005  0.005
296         296  성동구   3  0.180  0.005  0.005
337         337  용산구   3  0.168  0.005  0.005
345         345  용산구   3  0.201  0.005  0.005


* key :  11
* number :  30
     Unnamed: 0   지역  코드  특성화고  과학고  마이스터고
384         384  종로구   5   0.0  0.0    0.0
385         385  마포구   5   0.0  0.0    0.0
386         386  종로구   5   0.0  0.0    0.0
387         387  강서구   5   0.0  0.0    0.0
388         388  서초구   5   0.0  0.0    0.0

In [35]:
pd.unique(df.Cluster)
print(pd.unique(df.Cluster))
len(pd.unique(df.Cluster))

[-1  0  1  5  2  3  4  6  8  7  9 10 11]

13

In [38]:

colors = {-1:'gray', 0:'coral', 1:'black', 2:'green', 3:'red', 4:'purple', 5:'orange', 6:'brown', 7:'magenta', 8:'yellow', 9:'brick', 10:'cyan', 11:'pink'}
cluster_map = folium.Map(location=[37.55, 126.98],  tiles='Stamen Terrain', zoom_start=12)

for name, lat, lng, clus in zip (df.학교명, df.위도, df. 경도, df.Cluster) :
    folium.CircleMarker([lat, lng],
                              radius=5,
                              color=colors[clus],
                              fill=True,
                              fill_color=colors[clus] ,
                              fill_opacity=0.5,
                              popup=name).add_to(cluster_map)

cluster_map.save('./seoul_mschool_cluster.html')